/* General styles */
body {
    font-family: "Times New Roman", serif;
    line-height: 1.6;
    margin: 20px;
}

.container {
    display: flex;
}

/* Sidebar styles */
.sidebar {
    width: 150px;
    background-color: #f4f4f4;
    padding: 20px;
    height: 100vh; /* Full height */
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto; /* Scroll if content is too long */
}

/* Main content styles */
.main-content {
    margin-left: 270px; /* Leaves space for the fixed sidebar */
    padding: 20px;
    max-width: 800px;
}

.main-content h1 {
    text-align: center;
    font-size: 28px;
}

.main-content h2 {
    margin: 10px 0px 10px 0px;
    text-align: left;
    font-size: 20px;
}

.main-content p {
    margin: 10px 0px 10px 0px;
    font-size: 16px;
    text-align: justify;
}


/* Hyperlinks */
a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
